{% for hosts in groups [ 'client' ] %}
{
         "rabbitmq": {
           "host": "54.200.0.180",
           "vhost": "/sensu",
           "user": "sensu",
           "port": 5672,
        "password": "secret"
         }
}
{% endfor %}

